@model IList<OLS.ViewModels.EnrollmentPlanViewModel>
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer


@{ 
    var culture = Context.Features.Get<Microsoft.AspNetCore.Localization.IRequestCultureFeature>().RequestCulture.UICulture.Name;
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">


                @await Html.PartialAsync("../steps")


                <div style="text-align:center;background-color: #0193df;">
                    <h3 style="padding:5px;color: white;">@localizer["CurrentYearEnrollmentPlan"]</h3>
                </div>
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <div id="regForm">
                                <form asp-action="Create" method="post">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                                    <div class="table-responsive">
                                        <table class="table table-bordered no-wrap">
                                            <thead>
                                                <tr>
                                                    <th>@localizer["Class"]</th>

                                                    <th>@localizer["NumberOfMale"]      </th>
                                                    <th> @localizer["NumberOfFemale"]</th>

                                                </tr>
                                            </thead>
                                            <tbody>
                                                @if (Model != null)
                                                {
                                                    for (int i = 0; i < Model.Count; i++)
                                                    {

                                                        <tr>

                                                            <td>
                                                                @Html.HiddenFor(m => Model[i].SchoolSubLevelId)

                                                                @if (culture == "en")
                                                                {
                                                                    @Model[i].SchoolSubLevelName.Split("/")[2]
                                                                }
                                                                else if (culture == "fa")
                                                                {
                                                                    @Model[i].SchoolSubLevelName.Split("/")[0]
                                                                }
                                                                else
                                                                {
                                                                    @Model[i].SchoolSubLevelName.Split("/")[1]
                                                                }


                                                            </td>
                                                            <td>

                                                                @Html.TextBoxFor(m => Model[i].NumberOfStudentsMale, new { @class = "form-control", type = "number" })
                                                                @Html.ValidationMessageFor(m => Model[i].NumberOfStudentsMale, null, new { @class = "text-danger" })

                                                            </td>
                                                            <td>
                                                                @Html.TextBoxFor(m => Model[i].NumberOfStudentsFemale, new { @class = "form-control", type = "number" })
                                                                @Html.ValidationMessageFor(m => Model[i].NumberOfStudentsFemale, null, new { @class = "text-danger" })
                                                            </td>

                                                        </tr>



                                                    }



                                                }



                                            </tbody>
                                        </table>
                                    </div>
                                    <input type="submit" id="btnSave" value="@localizer["Save"]" class="btn " style="background-color:#0193df" />
                                     @{ 
                        var floatValue = "left";
                        if (culture == "en")
                        {
                            floatValue = "right";
                        }

                    }
                                    <div style="float:@floatValue;">
                                        <button type="button" id="nextBtn" style="background-color:#0193df;" onclick="@("window.location.href='" + @Url.Action("Navigate", "Teacher") + "'");" class="btn btn-primary">@localizer["Previous"]</button>
                                        @*<button type="button" id="nextBtn" onclick="@("window.location.href='" + @Url.Action("NavigateNextY", "EnrollmentPlan") + "'");" class="btn btn-primary">بعدی/وروسته/Next</button>*@


                                        <input type="submit" class="btn btn-primary" style="background-color:#0193df;" value="@localizer["Next"]" />
                                        @if (ViewBag.Message != null)
                                        {
                                            //  <div><span class="text-info">@ViewBag.Message</span></div>
                                            <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
                                            <script src="~/sweetalert/sweetalert.min.js"></script>
                                            <script type="text/javascript">
                                                    @*swal({
                                                        "@ViewBag.Message",
                                                        "حساب موفقانه ایجاد گردید / تاسو په بریالیتوب سره یو حساب جوړ کړی",
                                                        "success"
                                                        })*@
                                                    swal({
                                                        title: "@ViewBag.Message",
                                                        text: "@localizer["Message"]",
                                                        icon: "success",
                                                        button: "OK",
                                                    })
                                                        .then(okay => {
                                                        if (okay) {
                                                            window.location.href = "/EnrollmentPlan/NavigateNextY";
                                                        }
                                                    });
                                            </script>

                                        }
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>




                </div>

            </div>
        </div>
    </div>
</div>










