@model IList<OLS.ViewModels.EnrollmentPlanViewModel>


<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                @await Html.PartialAsync("../steps");

                <div style="text-align:center;background-color: steelblue;">
                    <h3 style="padding:5px;color: white;">پلان جذب شاګردان سال بعدی/د جذب پلان-راتلونکی کال/Next Year Enrollment Plan</h3>
                </div>

                <form asp-action="CreateNextY" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="table-responsive">
                        <table class="table table-bordered no-wrap">
                            <thead>
                                <tr>
                                    <th>صنف/ټولګی/Class</th>
                                    <th>تعداد ذکور/د نارینه زده کوونکو شمېر /Number of Male</th>
                                    <th>تعداد اناث/د ښځینه زده کوونکو شمېر/Number of Female </th>

                                </tr>
                            </thead>
                            <tbody>
                                @if (Model != null)
                                {
                                    for (int i = 0; i < Model.Count; i++)
                                    {

                                        <tr>
                                            <td>
                                                @Html.HiddenFor(m => Model[i].SchoolSubLevelId)

                                                @Model[i].SchoolSubLevelName
                                            </td>
                                            <td>
                                                @Html.TextBoxFor(m => Model[i].NumberOfStudentsMale)
                                                @Html.ValidationMessageFor(m => Model[i].NumberOfStudentsMale, null, new { @class = "text-danger" })
                                            </td>
                                            <td>
                                                @Html.TextBoxFor(m => Model[i].NumberOfStudentsFemale)
                                                @Html.ValidationMessageFor(m => Model[i].NumberOfStudentsFemale, null, new { @class = "text-danger" })
                                            </td>

                                        </tr>



                                    }



                                }
                                @*@if (ViewBag.displaylist != null)
                        {
                            @foreach (var item in ViewBag.displaylist)
                            {
                                <tr>

                                    <td>

                                        @item.SchoolSubLevelName
                                    </td>
                                    <td>
                                        <input type="text" id="@item.SchoolSubLevelId" />
                                    </td>
                                    <td>
                                        <input type="text" id="@item.SchoolSubLevelId" />
                                    </td>

                                </tr>
                            }
                        }*@



                            </tbody>
                        </table>
                    </div>
                    <input type="submit" id="btnSave" value="ثبت/ثبت/Save" class="btn btn-primary" />
                    <div style="float:left;">
                        <button type="button" id="nextBtn" onclick="@("window.location.href='" + @Url.Action("Navigate", "EnrollmentPlan") + "'");" class="btn btn-primary">قبلی/مخکی/Previous</button>
                        @*<button type="button" id="nextBtn" onclick="@("window.location.href='" + @Url.Action("Navigate", "SchoolFinancialPlan") + "'");" class="btn btn-primary">بعدی/وروسته/Next</button>*@

                        <input type="submit" class="btn btn-primary" value="بعدی/وروسته/Next" />
                        @if (ViewBag.Message != null)
                        {
                            //  <div><span class="text-info">@ViewBag.Message</span></div>
                            <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
                            <script src="~/sweetalert/sweetalert.min.js"></script>
                            <script type="text/javascript">
                            @*swal({
                                "@ViewBag.Message",
                                "حساب موفقانه ایجاد گردید / تاسو په بریالیتوب سره یو حساب جوړ کړی",
                                "success"
                                })*@
                            swal({
                                title: "@ViewBag.Message",
                                text: "حساب موفقانه ایجاد گردید / تاسو په بریالیتوب سره یو حساب جوړ کړ",
                                icon: "success",
                                button: "OK",
                            })
                                .then(okay => {
                                if (okay) {
                                    window.location.href = "/SchoolFinancialPlan/Create";
                                }
                            });
                            </script>

                        }
                    </div>

                </form>


            </div>
        </div>
    </div>
</div>






