@model IList<OLS.ViewModels.EnrollmentPlanEditViewModel>
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer

@{
    var culture = Context.Features.Get<Microsoft.AspNetCore.Localization.IRequestCultureFeature>().RequestCulture.UICulture.Name;
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                @await Html.PartialAsync("../steps")

                <div style="text-align:center;background-color: #0193df;">
                    <h3 style="padding:5px;color: white;">@localizer["NextYearEnrollmentPlan"]</h3>
                </div>

                <form asp-action="EditNextY" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="table-responsive">
                        <table class="table table-bordered no-wrap">
                            <thead>
                                <tr>
                                    <th>@localizer["Class"]</th>

                                    <th>@localizer["NumberOfMale"]      </th>
                                    <th> @localizer["NumberOfFemale"]</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model != null)
                                {
                                    for (int i = 0; i < Model.Count; i++)
                                    {

                    @Html.HiddenFor(m => Model[i].Id)
                                        <tr>
                                            @if (Model[i].GenderTypeId == Guid.Parse("E575CE44-2BBE-4175-A334-CE5ABC3CDDDA"))
                                            {
                                            <td>

                                                @if (culture == "en")
                                                {
                                                    @Model[i].SchoolSubLevelName.Split("/")[2]
                                                }
                                                else if (culture == "fa")
                                                {
                                                    @Model[i].SchoolSubLevelName.Split("/")[0]
                                                }
                                                else
                                                {
                                                    @Model[i].SchoolSubLevelName.Split("/")[1]
                                                }
                                            </td>}
                                            @if (Model[i].GenderTypeId == Guid.Parse("E575CE44-2BBE-4175-A334-CE5ABC3CDDDA"))
                                            {

                        <td>

                            @Html.TextBoxFor(m => Model[i].NumberOfStudents, new { @class = "form-control", @value = Model[i].NumberOfStudents, @rowid = Model[i].Id, type = "number" })
                            @Html.ValidationMessageFor(m => Model[i].NumberOfStudents, null, new { @class = "text-danger" })
                        </td>}

                                            @if (i < Model.Count - 1)
                                            {
                        @if (Model[i + 1].GenderTypeId == Guid.Parse("A10E9D59-C1B9-4983-97A0-F0A97A85F71D"))
                        {

<td>

    @Html.TextBoxFor(m => Model[i + 1].NumberOfStudents, new { @class = "form-control", @value = Model[i + 1].NumberOfStudents, @rowid = Model[i].Id, type = "number" })
    @Html.ValidationMessageFor(m => Model[i + 1].NumberOfStudents, null, new { @class = "text-danger" })
</td>}}






                                        </tr>}



                                                    }



                            </tbody>
                        </table>
                    </div>
                    <input type="submit" id="btnSave" value="@localizer["Save"]" class="btn btn-outline-success" style="background-color:#0193df;" />

                     @{ 
                        var floatValue = "left";
                        if (culture == "en")
                        {
                            floatValue = "right";
                        }

                    }

                    <div style="float:@floatValue;">
                        <button type="button" id="nextBtn" style="background-color:#0193df;" onclick="@("window.location.href='" + @Url.Action("Navigate", "EnrollmentPlan") + "'");" class="btn btn-primary">@localizer["Previous"]</button>
                        <button type="button" id="nextBtn" style="background-color:#0193df;" onclick="@("window.location.href='" + @Url.Action("Navigate", "SchoolFinancialPlan") + "'");" class="btn btn-primary">@localizer["Next"]</button>
                    </div>

                </form>

            </div>
        </div>
    </div>
</div>









