
@model OLS.ViewModels.PrincipleViewModel


@{
    ViewData["Title"] = "Create";
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                @await Html.PartialAsync("../steps");

                <div style="text-align:center;background-color: steelblue;">
                    <h3 style="padding:5px;color: white;">معلومات مدیر مسوول/د مدير په اړه مالومات/Principle Information</h3>
                </div>
                <form asp-action="Create" method="post" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div style="text-align:left;margin-top:5px;">
                        <img id='img-upload' style="width:120px; height:150px;" />
                        <div class="input-group">
                            <span class="btn btn-outline-accent-4 btn-file font-weight-bold" title="لطفا عکس را انتخاب کنید / مهرباني وکړئ یو عکس غوره کړئ">
                                Choose Photo
                                <input asp-for="Photo" id="imgInp">
                            </span>

                            <div><span asp-validation-for="Photo" class="text-danger"></span></div>

                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="Name">
                                    اسم /نوم/Name 

                                </label>
                                <input asp-for="Name" class="form-control" />
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="LastName">
                                    تخلص /تخلص/Last Name 

                                </label>
                                <input asp-for="LastName" class="form-control" />
                                <span asp-validation-for="LastName" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="FatherName">
                                    ولد /د پلار نوم/Father Name

                                </label>
                                <input asp-for="FatherName" class="form-control" />
                                <span asp-validation-for="FatherName" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="GrandFatherName">
                                    ولدیت/د نیکه نوم/Grand Father Name

                                </label>
                                <input asp-for="GrandFatherName" class="form-control" />
                                <span asp-validation-for="GrandFatherName" class="text-danger"></span>
                            </div>
                        </div>

                    </div>

                    <div class="row">

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="Email">
                                    ایمیل/ایمیل/Email

                                </label>
                                <input asp-for="Email" class="form-control" />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="PhonNumber">
                                   شماره تماس/د اړیکې شمېره/Phone No:

                                </label>
                                <input asp-for="PhonNumber" class="form-control" />
                                <span asp-validation-for="PhonNumber" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <div class="row">

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="Nidnumber">
                                    نمبر تذکره /د تذکرې شمېره/NID Number

                                </label>
                                <input asp-for="Nidnumber" class="form-control" />
                                <span asp-validation-for="Nidnumber" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="EducationLevelID">
                                    درجه تحصیل/د زده کړو درجه/Education Level:

                                </label>
                                <select asp-for="EducationLevelID" class="form-control">
                                    <option selected value="">--Select Education--</option>
                                    @foreach (var EduLevel in ViewBag.EducationLevel)
                                    {
                                        <option value="@EduLevel.EducationLevelId">@EduLevel.EducationLevelNameDari - @EduLevel.EducationLevelName</option>
                                    }
                                </select>
                                <span asp-validation-for="EducationLevelID" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="FacultyTypeId">
                                    رشته تحصیلی/د زده کړو رشته/Education field:

                                </label>
                                <select asp-for="FacultyTypeId" class="form-control">
                                    <option selected value="">--Select--</option>
                                    @foreach (var FacultyType in ViewBag.FacultyType)
                                    {
                                        <option value="@FacultyType.FacultyTypeId">@FacultyType.FacultypeNameDari - @FacultyType.FacultypeName</option>
                                    }
                                </select>
                                <span asp-validation-for="FacultyTypeId" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="GraduationDate">
                                    سال فراغت/د فراغت کال/Year of Graduation
                                </label>
                                <input asp-for="GraduationDate" class="form-control" />
                                <span asp-validation-for="GraduationDate" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <div class="row">

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="Nidnumber">
                                    سن/عمر/Age

                                </label>
                                <input asp-for="Age" class="form-control" />
                                <span asp-validation-for="Age" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="Nidnumber">
                                    جنسیت/جنسیت/Gender

                                </label>
                                <select asp-for="GenderTypeId" class="form-control">
                                    <option selected value="">--Select Gender--</option>
                                    @foreach (var GenderType in ViewBag.GenderType)
                                    {
                                        <option value="@GenderType.GenderTypeId">@GenderType.GenderTypeName - @GenderType.GenderTypeNameDari</option>
                                    }
                                </select>
                                <span asp-validation-for="GenderTypeId" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="Eduservice">
                                     مدت خدمت در معارف/په ښوونه او روزنه کې د خدمت موده/Duration of Service in Education/Duration of Service in Education

                                </label>
                                <input asp-for="Eduservice" class="form-control" />
                                <span asp-validation-for="Eduservice" class="text-danger"></span>
                            </div>
                        </div>

                    </div>


                    <div class="card-header" style="background-color: gainsboro; margin-bottom:10px">
                        <strong>آدرس دایمی/اصلي استوګنځای/Permenant Address</strong>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="PerProvinceId">
                                    ولایت/ولایت/Province

                                </label>
                                <select asp-for="PerProvinceId" id="PerProvince" class="form-control">
                                    <option selected value="">--Select--</option>
                                    @foreach (var province in ViewBag.province)
                                    {
                                        <option value="@province.ProvinceId">@province.ProvNaDar - @province.ProvNaEng</option>
                                    }
                                </select>

                                <span asp-validation-for="PerProvinceId" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="PerDistrictId">
                                    ولسوالی/ولسوالۍ/District

                                </label>
                                <select asp-for="PerDistrictId" id="PerDistrict" class="form-control">
                                    <option selected value="">--Select--</option>
                                </select>
                                <span asp-validation-for="PerDistrictId" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="PreNahia">
                                    قریه یا ناحیه/کلی یا ناحیه/Village or Nahia
                                </label>
                                <input asp-for="PerNahia" class="form-control" />
                                <span asp-validation-for="PerNahia" class="text-danger"></span>
                                @*<select asp-for="PerVillageNahiaId" id="PerVillageNahia" class="form-control">
            <option selected value="">--Select--</option>
        </select>
        <span asp-validation-for="PerVillageNahiaId" class="text-danger"></span>*@
                            </div>
                        </div>
                    </div>

                    <div class="card-header" style="background-color: gainsboro; margin-bottom:10px">
                        <strong>سکونت فعلی/فعلي استوګنځای/Current Address</strong>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="PreProvinceId">
                                    ولایت/ولایت/Province

                                </label>
                                <select asp-for="PreProvinceId" id="PreProvince" class="form-control">
                                    <option selected value="">--Select--</option>
                                    @foreach (var province in ViewBag.province)
                                    {
                                        <option value="@province.ProvinceId">@province.ProvNaDar - @province.ProvNaEng</option>
                                    }
                                </select>
                                <span asp-validation-for="PreProvinceId" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="PreDistrictId">
                                    ولسوالی/ولسوالۍ/District

                                </label>
                                <select asp-for="PreDistrictId" id="PreDistrict" class="form-control">
                                    <option selected value="">--Select--</option>
                                </select>
                                <span asp-validation-for="PreDistrictId" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="PreVillageNahiaId">
                                    قریه یا ناحیه/کلی یا ناحیه/Village or Nahia

                                </label>

                                <input asp-for="PreNahia" class="form-control" />
                                <span asp-validation-for="PreNahia" class="text-danger"></span>
                                @*<select asp-for="PreVillageNahiaId" id="PreVillageNahia" class="form-control" style="height: 3rem">
                <option selected value="">--Select--</option>
            </select>
            <span asp-validation-for="PreVillageNahiaId" class="text-danger"></span>*@
                            </div>
                        </div>
                    </div>
                    <input type="submit" id="btnSave" value="ثبت/ثبت/Save" class="btn btn-primary" />
                    <div style="float:left;">
                        <button type="button" id="nextBtn" onclick="@("window.location.href='" + @Url.Action("Navigate", "FinancialResource") + "'");" class="btn btn-primary">قبلی/مخکی/Previous</button>
                        @*<button type="button" id="nextBtn" onclick="@("window.location.href='" + @Url.Action("Navigate", "Teacher") + "'");" class="btn btn-primary">بعدی/وروسته/Next</button>*@
                        <input type="submit" class="btn btn-primary" value="بعدی/وروسته/Next" />
                        @if (ViewBag.Message != null)
                        {
                            //  <div><span class="text-info">@ViewBag.Message</span></div>
                            <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
                            <script src="~/sweetalert/sweetalert.min.js"></script>
                            <script type="text/javascript">
                                                    @*swal({
                                                        "@ViewBag.Message",
                                                        "حساب موفقانه ایجاد گردید / تاسو په بریالیتوب سره یو حساب جوړ کړی",
                                                        "success"
                                                        })*@
                                                    swal({
                                                        title: "@ViewBag.Message",
                                                        text: "حساب موفقانه ایجاد گردید / تاسو په بریالیتوب سره یو حساب جوړ کړ",
                                                        icon: "success",
                                                        button: "OK",
                                                    })
                                                        .then(okay => {
                                                        if (okay) {
                                                            window.location.href = "Teacher/GetTeachersList";
                                                        }
                                                    });
                            </script>

                        }
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
        $(document).ready(function(){
            $('#PerProvince').on('change', function () {
                $('#PerDistrict option').remove();
                var provinceid = $('#PerProvince option:selected').val();
                if (provinceid != -1) {

                    $.ajax({

                            type: 'GET',
                            url: '@Url.Action("FindDistrict","Founder")/' + provinceid,
                            success: function(result) {
                            var s = ' <option value="-1">--Select--</option>';
                                for(var i = 0;i<result.length; i++) {
                                     s += ' <option value="'+result[i].id+'">'+result[i].distNameDar+'-'+result[i].distNameEng+'</option>';
                                }
                                  $('#PerDistrict').html(s);
                            }


                        }
                    );
                }
            });
        });

        //fill villages


        @*$(document).ready(function(){
           $('#PerDistrict').on('change', function () {
                $('#PerVillageNahia option').remove();
                var districtid = $('#PerDistrict option:selected').val();
                if (districtid != -1) {

                    $.ajax({

                            type: 'GET',
                            url: '@Url.Action("FindVillagNahia","Founder")/' + districtid,
                            success: function(result) {
                            var s = ' <option value="-1">--Select--</option>';
                                for(var i = 0;i<result.length; i++) {
                                     s += ' <option value="'+result[i].vid+'">'+result[i].vNameEng+'</option>';
                                }
                                  $('#PerVillageNahia').html(s);
                            }


                        }
                    );
                }
            });
        });*@

        //Current address
          $(document).ready(function(){
            $('#PreProvince').on('change', function () {
                $('#PreDistrict option').remove();
                var provinceid = $('#PreProvince option:selected').val();
                if (provinceid != -1) {

                    $.ajax({

                            type: 'GET',
                            url: '@Url.Action("FindDistrict","Founder")/' + provinceid,
                            success: function(result) {
                            var s = ' <option value="-1">--Select--</option>';
                                for(var i = 0;i<result.length; i++) {
                                     s += ' <option value="'+result[i].id+'">'+result[i].distNameDar+'-'+result[i].distNameEng+'</option>';
                                }
                                  $('#PreDistrict').html(s);
                            }


                        }
                    );
                }
            });
        });

        //fill villages


        @*$(document).ready(function(){
           $('#PreDistrict').on('change', function () {
                $('#PreVillageNahia option').remove();
                var districtid = $('#PreDistrict option:selected').val();
                if (districtid != -1) {

                    $.ajax({

                            type: 'GET',
                            url: '@Url.Action("FindVillagNahia","Founder")/' + districtid,
                            success: function(result) {
                            var s = ' <option value="-1">--Select--</option>';
                                for(var i = 0;i<result.length; i++) {
                                     s += ' <option value="'+result[i].vid+'">'+result[i].vNameEng+'</option>';
                                }
                                  $('#PreVillageNahia').html(s);
                            }


                        }
                    );
                }
            });
        });*@

        //image preview

        $(document).ready( function() {
            $(document).on('change', '.btn-file :file', function() {
            var input = $(this),
                label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
            input.trigger('fileselect', [label]);
            });

            $('.btn-file :file').on('fileselect', function(event, label) {

                var input = $(this).parents('.input-group').find(':text'),
                    log = label;

                if( input.length ) {
                    input.val(log);
                }

            });
            function readURL(input) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();

                    reader.onload = function (e) {
                        $('#img-upload').attr('src', e.target.result);
                    }

                    reader.readAsDataURL(input.files[0]);
                }
            }

            $("#imgInp").change(function(){
                readURL(this);
            });
        });
</script>
<style>
    .btn-file {
        position: relative;
        overflow: hidden;
    }

        .btn-file input[type=file] {
            position: absolute;
            top: 0;
            right: 0;
            min-width: 100%;
            min-height: 100%;
            font-size: 100px;
            text-align: right;
            filter: alpha(opacity=0);
            opacity: 0;
            outline: none;
            background: white;
            cursor: inherit;
            display: block;
        }

    .input-group {
        position: relative;
        display: block;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-align: stretch;
        -webkit-align-items: stretch;
        -ms-flex-align: stretch;
        align-items: left;
        width: 100%;
        text-align: left;
    }

    #img-upload {
        width: 100%;
    }
</style>

