@model OLS.ViewModels.PrincipleEditViewModel
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer

@{
    ViewData["Title"] = "Edit";
    var photoPath = Model.ExistingPhotoPath;
    var schoolid = Model.SchoolId;
    var culture = Context.Features.Get<Microsoft.AspNetCore.Localization.IRequestCultureFeature>().RequestCulture.UICulture.Name;
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                @await Html.PartialAsync("../steps")
                <div style="text-align:center;background-color: #0193df;">
                    <h3 style="padding:5px;color: white;"> @localizer["PrincipalInformation"]</h3>
                </div>
                <form asp-action="Edit" method="post" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <input hidden asp-for="PersonId" />
                    <input hidden asp-for="ExistingPhotoPath">
                    <input hidden asp-for="SchoolId">

                    @if (ViewBag.Message != null)
                    {

                        // <div><span class="text-info">@ViewBag.Message</span></div>

                        <div class="alert alert-success alert-dismissible fade show">
                            <button type="button" class="close" data-dismiss="alert" role="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            @ViewBag.Message
                        </div>

                    }

                <div style="text-align:left;margin-top:5px;">


                    <div class="input-group">
                        <span class="btn btn-default btn-file">
                            <img id='img-upload' style="width:120px; height:150px;cursor:pointer" src="@photoPath" />
                            <input asp-for="Photo" class="form-control" id="imgInp">
                        </span>
                        @if (ViewBag.photoerror != null)
                        {
                            <div><span class="text-danger">@ViewBag.photoerror</span></div>
                        }
                        <div><span asp-validation-for="Photo" class="text-danger"></span></div>

                    </div>
                    <div class=" font-weight-bold " style="text-align:left;margin-left:25px;">@localizer["ChoosePhoto"]</div>
                </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="Name">
                                   
                                    @localizer["Name"]

                                </label>
                                <input asp-for="Name" class="form-control" />
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="LastName">
                                   
                                    @localizer["LastName"]

                                </label>
                                <input asp-for="LastName" class="form-control" />
                                <span asp-validation-for="LastName" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="FatherName">
                                   
                                    @localizer["FatherName"]

                                </label>
                                <input asp-for="FatherName" class="form-control" />
                                <span asp-validation-for="FatherName" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="GrandFatherName">
                                  
                                    @localizer["GrandFatherName"]

                                </label>
                                <input asp-for="GrandFatherName" class="form-control" />
                                <span asp-validation-for="GrandFatherName" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="Email">
                                   
                                    @localizer["Email"]

                                </label>
                                <input asp-for="Email" class="form-control" />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="PhonNumber">
                                   
                                    @localizer["PhoneNo"]

                                </label>
                                <input type="number" asp-for="PhonNumber" class="form-control" />
                                <span asp-validation-for="PhonNumber" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="Nidnumber">

                                    @localizer["NIDNumber"]

                                </label>
                                <input type="text" asp-for="Nidnumber" class="form-control" />
                                <span asp-validation-for="Nidnumber" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="EducationLevelID">

                                    @localizer["EducationLevel"]

                                </label>
                                <select asp-for="EducationLevelID" class="form-control selectTwo" style="width:100%;">
                                    <option selected value="">--   @localizer["Select"] --</option>
                                    @if (culture == "en")
                                    {
                                        @foreach (var EduLevel in ViewBag.EducationLevel)
                                        {
                                            <option value="@EduLevel.EducationLevelId"> @EduLevel.EducationLevelName</option>
                                        }
                                    }
                                    else if (culture == "fa")
                                    {
                                        @foreach (var EduLevel in ViewBag.EducationLevel)
                                        {
                                            <option value="@EduLevel.EducationLevelId">@EduLevel.EducationLevelNameDari.Split("-")[0] </option>
                                        }
                                    }
                                    else
                                    {
                                        @foreach (var EduLevel in ViewBag.EducationLevel)
                                        {
                                            <option value="@EduLevel.EducationLevelId">@EduLevel.EducationLevelNameDari.Split("-")[1] </option>
                                        }
                                    }
                                </select>
                                <span asp-validation-for="EducationLevelID" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="FacultyTypeId">

                                    @localizer["EducationField"]

                                </label>
                                <select asp-for="FacultyTypeId" class="form-control selectTwo" style="width:100%;">
                                    <option selected value="">--   @localizer["Select"] --</option>
                                    @if (culture == "en")
                                    {
                                        @foreach (var FacultyType in ViewBag.FacultyType)
                                        {
                                            <option value="@FacultyType.FacultyTypeId">@FacultyType.FacultypeName</option>
                                        }
                                    }
                                    else if (culture == "fa")
                                    {
                                        @foreach (var FacultyType in ViewBag.FacultyType)
                                        {
                                            <option value="@FacultyType.FacultyTypeId">@FacultyType.FacultypeNameDari.Split("/")[0]</option>
                                        }
                                    }
                                    else
                                    {
                                        @foreach (var FacultyType in ViewBag.FacultyType)
                                        {
                                            <option value="@FacultyType.FacultyTypeId">@FacultyType.FacultypeNameDari.Split("/")[1]</option>
                                        }
                                    }
                                </select>
                                <span asp-validation-for="FacultyTypeId" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col-md-4" id="educationField" style="display:none">
                            <div class="form-group">
                                <label for="Nidnumber">

                                    @localizer["EducationFieldNew"]

                                </label>
                                <input id="newEducationField" type="text" class="form-control" />

                            </div>
                        </div>


                    </div>
                    <div class="row">


                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="GraduationDate">
                                 
                                    @localizer["GraduationYear"]

                                </label>
                                @*<input asp-for="GraduationDate" class="form-control" />*@
                                <select asp-for="GraduationDate" class="form-control selectTwo" style="width:100%">
                                    <option value="@Model.GraduationDate">@Model.GraduationDate</option>
                                    @for (int i = 1300; i <= 1410; i++)
                                    {
                                        <option value="@i">@i</option>
                                    }
                                </select>
                                <span asp-validation-for="GraduationDate" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="Nidnumber">
                                    
                                    @localizer["Age"]

                                </label>
                                <input asp-for="Age" class="form-control" />
                                <span asp-validation-for="Age" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="Nidnumber">
                                   
                                    @localizer["Gender"]

                                </label>
                                <select asp-for="GenderTypeId" class="form-control selectTwo" style="width:100%;">
                                    <option selected value="">--   @localizer["Select"] --</option>
                                    @if (culture == "en")
                                    {
                                        @foreach (var GenderType in ViewBag.GenderType)
                                        {
                                            <option value="@GenderType.GenderTypeId">@GenderType.GenderTypeName</option>
                                        }
                                    }
                                    else if (culture == "fa")
                                    {
                                        @foreach (var GenderType in ViewBag.GenderType)
                                        {
                                            <option value="@GenderType.GenderTypeId">@GenderType.GenderTypeNameDari.Split("/")[0]</option>
                                        }
                                    }
                                    else
                                    {
                                        @foreach (var GenderType in ViewBag.GenderType)
                                        {
                                            <option value="@GenderType.GenderTypeId">@GenderType.GenderTypeNameDari.Split("/")[1]</option>
                                        }
                                    }

                                </select>
                                <span asp-validation-for="GenderTypeId" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="Eduservice">
                                 
                                    @localizer["DurationOfServiceInEducation"]

                                </label>
                                <input asp-for="Eduservice" class="form-control" />
                                <span asp-validation-for="Eduservice" class="text-danger"></span>
                            </div>
                        </div>

                    </div>



                    <div class="card-header" style="background-color: gainsboro; margin-bottom:10px">
                        <strong>   @localizer["PermenantAddress"]</strong>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="PerProvinceId">
                                    
                                    @localizer["Province"]

                                </label>
                                <select asp-for="PerProvinceId" id="PerProvince" class="form-control selectTwo" style="width:100%;">
                                    <option selected value="">--   @localizer["Select"]--</option>
                                    @if (culture == "en")
                                    {
                                        @foreach (var province in ViewBag.PerProvince)
                                        {
                                            <option value="@province.ProvinceId"> @province.ProvNaEng</option>
                                        }
                                    }
                                    else
                                    {
                                        @foreach (var province in ViewBag.PerProvince)
                                        {
                                            <option value="@province.ProvinceId">@province.ProvNaDar</option>
                                        }
                                    }
                                </select>

                                <span asp-validation-for="PerProvinceId" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="PerDistrictId">
                                  
                                    @localizer["District"]

                                </label>
                                <select asp-for="PerDistrictId" id="PerDistrict" class="form-control selectTwo" style="width:100%;">
                                    <option selected value="">--   @localizer["Select"]--</option>
                                    @if (culture == "en")
                                    {
                                        @foreach (var Perdistrict in ViewBag.Perdistrict)
                                        {
                                            <option value="@Perdistrict.DistrictId"> @Perdistrict.DistNaEng</option>
                                        }
                                    }
                                    else
                                    {
                                        @foreach (var Perdistrict in ViewBag.Perdistrict)
                                        {
                                            <option value="@Perdistrict.DistrictId">@Perdistrict.DistNaDar</option>
                                        }
                                    }

                                </select>

                                <span asp-validation-for="PerDistrictId" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="PerVillageNahiaId">
                                   
                                    @localizer["Village"]
                                </label>
                                <input asp-for="PerNahia" class="form-control" />
                                <span asp-validation-for="PerNahia" class="text-danger"></span>
                                @*<select asp-for="PerVillageNahiaId" id="PerVillageNahia" class="form-control">
                                     <option selected value="">--Select--</option>
                                        @foreach (var PervillageNahia in ViewBag.PervillageNahia)
                                        {
                                            <option value="@PervillageNahia.VillageNahiaId"> @PervillageNahia.VillageNameEng</option>
                                        }
                                    </select>
                                    <span asp-validation-for="PerVillageNahiaId" class="text-danger"></span>*@
                            </div>
                        </div>
                    </div>

                    <div class="card-header" style="background-color: gainsboro; margin-bottom:10px">
                        <strong>  @localizer["CurrentAddress"]</strong>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="PreProvinceId">
                                 
                                    @localizer["Province"]

                                </label>
                                <select asp-for="PreProvinceId" id="PreProvince" class="form-control selectTwo" style="width:100%;">
                                    <option selected value="">--   @localizer["Select"]--</option>
                                    @if (culture == "en")
                                    {
                                        @foreach (var Preprovince in ViewBag.Preprovince)
                                        {
                                            <option value="@Preprovince.ProvinceId"> @Preprovince.ProvNaEng</option>
                                        }
                                    }
                                    else
                                    {
                                        @foreach (var Preprovince in ViewBag.Preprovince)
                                        {
                                            <option value="@Preprovince.ProvinceId">@Preprovince.ProvNaDar</option>
                                        }
                                    }

                                </select>
                                <span asp-validation-for="PreProvinceId" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="PreDistrictId">
                                  
                                    @localizer["District"]

                                </label>
                                <select asp-for="PreDistrictId" id="PreDistrict" class="form-control selectTwo" style="width:100%;">
                                    <option selected value="">--   @localizer["Select"]--</option>
                                    @if (culture == "en")
                                    {
                                        @foreach (var Predistrict in ViewBag.Predistrict)
                                        {
                                            <option value="@Predistrict.DistrictId"> @Predistrict.DistNaEng</option>
                                        }
                                    }
                                    else
                                    {
                                        @foreach (var Predistrict in ViewBag.Predistrict)
                                        {
                                            <option value="@Predistrict.DistrictId">@Predistrict.DistNaDar </option>
                                        }
                                    }

                                </select>

                                <span asp-validation-for="PreDistrictId" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="PreVillageNahiaId">
                                    
                                    @localizer["Village"]

                                </label>

                                <input asp-for="PreNahia" class="form-control" />
                                <span asp-validation-for="PreNahia" class="text-danger"></span>
                                @*<select asp-for="PreVillageNahiaId" id="PreVillageNahia" class="form-control">
                                        <option selected value="">--Select--</option>
                                        @foreach (var PrevillageNahia in ViewBag.PrevillageNahia)
                                        {
                                            <option value="@PrevillageNahia.VillageNahiaId"> @PrevillageNahia.VillageNameEng</option>
                                        }
                                    </select>*@
                                <span asp-validation-for="PreNahia" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <input type="submit" value="@localizer["Save"]" class="btn btn-outline-success" />
                     @{ 
                        var floatValue = "left";
                        if (culture == "en")
                        {
                            floatValue = "right";
                        }

                    }
                    <div style="float:@floatValue;">
                        <button type="button" id="nextBtn" style="background-color:#0193df;" onclick="@("window.location.href='" + @Url.Action("Navigate", "FinancialResource") + "'");" class="btn btn-primary">   @localizer["Previous"]</button>
                        <button type="button" id="nextBtn" style="background-color:#0193df;" onclick="@("window.location.href='" + @Url.Action("Navigate", "Teacher") + "'");" class="btn btn-primary">   @localizer["Next"]</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
<script>
    //Automatically close alert
    window.setTimeout(function () {
        $(".alert").fadeTo(500, 0).slideUp(500, function () {
            $(this).remove();
        });
    }, 5000);

    // In your Javascript (external .js resource or <script> tag)
    $(document).ready(function () {
        $('.selectTwo').select2();


        // $('#FacultyTypeId').select2({
        //    tags: true
        //});

        $('#FacultyTypeId').on('change', function () {
            var value = $(this).val();


            if (value === '77a0530b-7110-4d65-a81c-24046a2a4f7e') {

                $('#educationField').show();



                $('#newEducationField').on('focusout', function () {
                    var textValue = $(this).val();
                    $.ajax({
                        type: 'GET',
                        url: '@Url.Action("InsertNewFacultyType", "Principle")/' + textValue,
                        success: function (result) {
                            $("#FacultyTypeId option:selected").val(result);
                        }
                    });
                });


            } else {
                $('#educationField').hide();
            }

        });
    });




    function Next() {
        var sid = '@schoolid';
        if (sid.length != 0) {
            window.location.href = '@Url.Action("Edit","School",new {schoolId=schoolid })';
        } else {

        window.location.href = '@Url.Action("Create","School")';
        }

    }
    $(document).ready(function () {
        var culture = "@culture";
            $('#PerProvince').on('change', function () {
                $('#PerDistrict option').remove();
                var provinceid = $('#PerProvince option:selected').val();
                if (provinceid != -1) {

                    $.ajax({

                            type: 'GET',
                            url: '@Url.Action("FindDistrict","Founder")/' + provinceid,
                        success: function (result) {
                            var s = ' <option value="-1">--@localizer["Select"]--</option>';
                            if (culture == "en") {
                                for (var i = 0; i < result.length; i++) {
                                    s += ' <option value="' + result[i].id + '">'  + result[i].distNameEng + '</option>';
                                }
                            } else {
                                for (var i = 0; i < result.length; i++) {
                                    s += ' <option value="' + result[i].id + '">' + result[i].distNameDar +  '</option>';
                                }
                            }

                                  $('#PerDistrict').html(s);
                            }


                        }
                    );
                }
            });
        });

        //fill villages


        @*$(document).ready(function(){
           $('#PerDistrict').on('change', function () {
                $('#PerVillageNahia option').remove();
                var districtid = $('#PerDistrict option:selected').val();
                if (districtid != -1) {

                    $.ajax({

                            type: 'GET',
                            url: '@Url.Action("FindVillagNahia","Founder")/' + districtid,
                            success: function(result) {
                            var s = ' <option value="-1">--Select--</option>';
                                for(var i = 0;i<result.length; i++) {
                                     s += ' <option value="'+result[i].vid+'">'+result[i].vNameEng+'</option>';
                                }
                                  $('#PerVillageNahia').html(s);
                            }


                        }
                    );
                }
            });
        });*@

        //Current address
    $(document).ready(function () {
        var culture = "@culture";
            $('#PreProvince').on('change', function () {
                $('#PreDistrict option').remove();
                var provinceid = $('#PreProvince option:selected').val();
                if (provinceid != -1) {

                    $.ajax({

                            type: 'GET',
                            url: '@Url.Action("FindDistrict","Founder")/' + provinceid,
                        success: function (result) {
                            var s = ' <option value="-1">--@localizer["Select"]--</option>';
                            if (culture == "en") {
                                for (var i = 0; i < result.length; i++) {
                                    s += ' <option value="' + result[i].id + '">'  + result[i].distNameEng + '</option>';
                                }
                            } else {
                                for (var i = 0; i < result.length; i++) {
                                    s += ' <option value="' + result[i].id + '">' + result[i].distNameDar  + '</option>';
                                }
                            }

                                  $('#PreDistrict').html(s);
                            }


                        }
                    );
                }
            });
        });

        //fill villages


        @*$(document).ready(function(){
           $('#PreDistrict').on('change', function () {
                $('#PreVillageNahia option').remove();
                var districtid = $('#PreDistrict option:selected').val();
                if (districtid != -1) {

                    $.ajax({

                            type: 'GET',
                            url: '@Url.Action("FindVillagNahia","Founder")/' + districtid,
                            success: function(result) {
                            var s = ' <option value="-1">--Select--</option>';
                                for(var i = 0;i<result.length; i++) {
                                     s += ' <option value="'+result[i].vid+'">'+result[i].vNameEng+'</option>';
                                }
                                  $('#PreVillageNahia').html(s);
                            }


                        }
                    );
                }
            });
        });*@

        //image preview

        $(document).ready( function() {
            $(document).on('change', '.btn-file :file', function() {
            var input = $(this),
                label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
            input.trigger('fileselect', [label]);
            });

            $('.btn-file :file').on('fileselect', function(event, label) {

                var input = $(this).parents('.input-group').find(':text'),
                    log = label;

                if( input.length ) {
                    input.val(log);
                }

            });
            function readURL(input) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();

                    reader.onload = function (e) {
                        $('#img-upload').attr('src', e.target.result);
                    }

                    reader.readAsDataURL(input.files[0]);
                }
            }

            $("#imgInp").change(function(){
                readURL(this);
            });
        });
</script>
<style>
    .btn-file {
        position: relative;
        overflow: hidden;
    }

        .btn-file input[type=file] {
            position: absolute;
            top: 0;
            right: 0;
            min-width: 100%;
            min-height: 100%;
            font-size: 100px;
            text-align: right;
            filter: alpha(opacity=0);
            opacity: 0;
            outline: none;
            background: white;
            cursor: inherit;
            display: block;
        }

    .input-group {
        position: relative;
        display: block;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-align: stretch;
        -webkit-align-items: stretch;
        -ms-flex-align: stretch;
        align-items: left;
        width: 100%;
        text-align: left;
    }

    #img-upload {
        width: 100%;
    }
</style>

