@model IList<OLS.ViewModels.SchoolFinancialPlanViewModel>
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer

@{ var year = DateTime.Now.Year;

    var culture = Context.Features.Get<Microsoft.AspNetCore.Localization.IRequestCultureFeature>().RequestCulture.UICulture.Name;
}


<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                @await Html.PartialAsync("../steps");

                <div style="text-align:center;background-color: #0193df;">
                    <h3 style="padding:5px;color: white;"> @localizer["FinancialPlan"] (@year) </h3>
                </div>

                <form asp-action="Edit" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th class="text-wrap">@localizer["Class"]</th>
                                    <th class="text-wrap"> @localizer["FeeAmount"]</th>
                                    <th class="text-wrap">@localizer["PaidStudents"]</th>
                                    <th class="text-wrap">@localizer["FreeStudents"]</th>
                                    <th class="text-wrap"> @localizer["AdmissionFee"]</th>

                                </tr>
                            </thead>
                            <tbody>


                                @if (Model != null)
                                {
                                    string required = "";

                                    if (ViewBag.schoolBussinesType == "For Profit")
                                    {
                                        required = "required";
                                    }
                                    for (int i = 0; i < Model.Count; i++)
                                    {
                                        var feeAmount = "";
                                        var AdmissionFee = "";
                                        @Html.HiddenFor(m => Model[i].Id);
                                        @Html.HiddenFor(m => Model[i].SchoolId);

                                        <tr>
                                            <td>
                                                @if (culture == "en")
                                                {
                                                    @Model[i].SchoolSubLevelName.Split("/")[2]
                                                    feeAmount = Model[i].FeeAmount.ToString();
                                                    AdmissionFee = Model[i].AdmissionFee.ToString();
                                                }
                                                else if (culture == "fa")
                                                {

                                                    @Model[i].SchoolSubLevelName.Split("/")[0]
                                                    feeAmount= Model[i].FeeAmount.ToString().Replace("/", ".");
                                                    AdmissionFee = Model[i].AdmissionFee.ToString().Replace("/",".");
                                                }
                                                else
                                                {
                                                    @Model[i].SchoolSubLevelName.Split("/")[1]
                                                    feeAmount=   Model[i].FeeAmount.ToString().Replace(",", ".");
                                                    AdmissionFee = Model[i].AdmissionFee.ToString().Replace(",",".");
                                                }

                                            </td>
                                            <td>
                                                <input class="input form-control" disabled  name="[@i].FeeAmount" value="@feeAmount" @required />
                                            </td>
                                            <td>
                                                <input class="input form-control" disabled type="number" name="[@i].NfreeStudents" value="@Model[i].NfreeStudents" @required />
                                            </td>
                                            <td>
                                                <input class="input form-control" disabled type="number" name="[@i].NpaidStudents" value="@Model[i].NpaidStudents" @required />
                                            </td>
                                            <td>
                                                <input class="input form-control" disabled  name="[@i].AdmissionFee" value="@AdmissionFee" @required />
                                            </td>
                                        </tr>

                                    }

                                }

                            </tbody>
                        </table>
                        @if (ViewBag.schoolBussinesType == "For Profit")
                        {
                            @if (ViewBag.Tax != null)
                            {


<br /><div class="shadow-lg p-3 mb-5 bg-white rounded">

    @if (culture == "en")
    {
        <div style="margin:5px;">
            <span class="text-info font-weight-bold"> Ten percent of (@ViewBag.Tax) of overall income is required for bank gurantee.        .</span>
        </div>
    }
    else if (culture == "fa")
    {
        <div style="margin:5px;">
            <span class="text-info font-weight-bold">ده فیصد(@ViewBag.Tax) افغانی درامد کلی به حیث تضمین بانکی ضرورت میباشد.</span>
        </div>
    }
    else
    {
        <div style="        margin: 5px;">
            <span class="text-info font-weight-bold ">د بانکي تضمین لپاره د ټولې بودیجې ۱۰ سلنه(@ViewBag.Tax) باید ورکړل شي</span>
        </div>
    }



</div>
                                <br />
                            }
                        }

                    </div>
                    @*<input type="submit" id="btnSave" value="ثبت/ثبت/Save" class="btn btn-outline-success" />*@
                     @{ 
                        var floatValue = "left";
                        if (culture == "en")
                        {
                            floatValue = "right";
                        }

                    }
                    <div style="float:@floatValue;">
                        <button type="button" id="nextBtn" style="background-color:#0193df;" onclick="@("window.location.href='" + @Url.Action("NavigateNextY", "EnrollmentPlan") + "'");" class="btn btn-primary">@localizer["Previous"]</button>
                        <button type="button" id="nextBtn" style="background-color:#0193df;" onclick="@("window.location.href='" + @Url.Action("Navigate", "SchoolStaffExpenses") + "'");" class="btn btn-primary">@localizer["Next"]</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        //Automatically close alert
        window.setTimeout(function () {
            $(".alert").fadeTo(500, 0).slideUp(500, function () {
                $(this).remove();
            });
        }, 5000);

        $(document).ready(function () {
            $(".input").focusout(function () {
                if ($(this).val() == '') {
                    $(this).css('border', 'solid 2px red');
                }
                else {

                    // If it is not blank.
                    $(this).css('border', 'solid 2px green');
                }
            }).trigger("focusout");
        });
    </script>
}