
@model OLS.ViewModels.TeacherViewModel
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer


@{
    ViewData["Title"] = "Create";
    var culture = Context.Features.Get<Microsoft.AspNetCore.Localization.IRequestCultureFeature>().RequestCulture.UICulture.Name;
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <form asp-action="Create" method="post" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <fieldset style="margin:5px; padding:5px;" class="tab border border-secondary">
                        <div style="text-align:center;background-color: #0193df;">
                            <h3 style="padding:5px;color: white;">@localizer["TeacherInformation"]</h3>
                        </div>
                        <div style="margin:5px;">
                            <button type="button" class="btn btn-primary" style="background-color:#0193df;" onclick="@("window.location.href='" + @Url.Action("GetTeachersList", "Teacher") + "'");">
                              
                                @localizer["ReturnToTeachersList"]
                            </button>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="Name">
                                      
                                        @localizer["Name"]

                                    </label>
                                    <input asp-for="Name" class="form-control" />
                                    <span asp-validation-for="Name" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="LastName">
                                      
                                        @localizer["LastName"]

                                    </label>
                                    <input asp-for="LastName" class="form-control" />
                                    <span asp-validation-for="LastName" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="FatherName">
                                       
                                        @localizer["FatherName"]

                                    </label>
                                    <input asp-for="FatherName" class="form-control" />
                                    <span asp-validation-for="FatherName" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="GrandFatherName">
                                    
                                        @localizer["GrandFatherName"]

                                    </label>
                                    <input asp-for="GrandFatherName" class="form-control" />
                                    <span asp-validation-for="GrandFatherName" class="text-danger"></span>
                                </div>
                            </div>

                        </div>



                        <div class="row">

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="Nidnumber">
                                     
                                        @localizer["NIDNumber"]

                                    </label>
                                    <input type="text" asp-for="Nidnumber" class="form-control" />
                                    <span asp-validation-for="Nidnumber" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="EducationLevelID">
                                      
                                        @localizer["EducationLevel"]

                                    </label>
                                    <select asp-for="EducationLevelID" class="form-control selectTwo" style="width:100%">
                                        <option selected value="">--@localizer["Select"] --</option>

                                        @if (culture == "en")
                                        {
                                            @foreach (var EduLevel in ViewBag.EducationLevel)
                                            {
                                                <option value="@EduLevel.EducationLevelId"> @EduLevel.EducationLevelName</option>
                                            }
                                        }
                                        else if (culture == "fa")
                                        {
                                            @foreach (var EduLevel in ViewBag.EducationLevel)
                                            {
                                                <option value="@EduLevel.EducationLevelId">@EduLevel.EducationLevelNameDari.Split("-")[0] </option>
                                            }
                                        }
                                        else
                                        {
                                            @foreach (var EduLevel in ViewBag.EducationLevel)
                                            {
                                                <option value="@EduLevel.EducationLevelId">@EduLevel.EducationLevelNameDari.Split("-")[1] </option>
                                            }
                                        }
                                    </select>
                                    <span asp-validation-for="EducationLevelID" class="text-danger"></span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="FacultyTypeId">

                                        @localizer["EducationField"]

                                    </label>
                                    <select asp-for="FacultyTypeId" class="form-control selectTwo" style="width:100%">
                                        <option selected value="">--@localizer["Select"]--</option>
                                        @if (culture == "en")
                                        {
                                            @foreach (var FacultyType in ViewBag.FacultyType)
                                            {
                                                <option value="@FacultyType.FacultyTypeId">@FacultyType.FacultypeName</option>
                                            }
                                        }
                                        else if (culture == "fa")
                                        {
                                            @foreach (var FacultyType in ViewBag.FacultyType)
                                            {
                                                <option value="@FacultyType.FacultyTypeId">@FacultyType.FacultypeNameDari.Split("/")[0]</option>
                                            }
                                        }
                                        else
                                        {
                                            @foreach (var FacultyType in ViewBag.FacultyType)
                                            {
                                                <option value="@FacultyType.FacultyTypeId">@FacultyType.FacultypeNameDari.Split("/")[1]</option>
                                            }
                                        }
                                    </select>
                                    <span asp-validation-for="FacultyTypeId" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="col-md-6" id="educationField" style="display:none">
                                <div class="form-group">
                                    <label for="Nidnumber">

                                        @localizer["EducationFieldNew"]

                                    </label>
                                    <input id="newEducationField" type="text" class="form-control" />

                                </div>
                            </div>


                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="GraduationDate">

                                        @localizer["GraduationYear"]
                                    </label>
                                    @*<input asp-for="GraduationDate" class="form-control" />*@
                                    <select asp-for="GraduationDate" class="form-control selectTwo">
                                        <option selected value="">--Select--</option>
                                        @for (int i = 1300; i <= 1410; i++)
                                        {
                                            <option value="@i">@i</option>
                                        }
                                    </select>

                                    <span asp-validation-for="GraduationDate" class="text-danger"></span>
                                </div>
                            </div>
                        </div>

                        <div class="row">

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="Nidnumber">
                                       
                                        @localizer["Age"]

                                    </label>
                                    <input asp-for="Age" class="form-control" />
                                    <span asp-validation-for="Age" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="Nidnumber">
                                      
                                        @localizer["Gender"]

                                    </label>
                                    <select asp-for="GenderTypeId" class="form-control selectTwo" style="width:100%">
                                        <option selected value="">-- @localizer["Select"] --</option>
                                        @if (culture == "en")
                                        {
                                            @foreach (var GenderType in ViewBag.GenderType)
                                            {
                                                <option value="@GenderType.GenderTypeId">@GenderType.GenderTypeName </option>
                                            }
                                        }
                                        else
                                        {
                                            @foreach (var GenderType in ViewBag.GenderType)
                                            {
                                                <option value="@GenderType.GenderTypeId">@GenderType.GenderTypeNameDari</option>
                                            }
                                        }
                                    </select>
                                    <span asp-validation-for="GenderTypeId" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="Eduservice">
                                      
                                        @localizer["DurationOfService"]
                                    </label>
                                    <input asp-for="Eduservice" class="form-control" />
                                    <span asp-validation-for="Eduservice" class="text-danger"></span>
                                </div>
                            </div>

                        </div>
                        <div>
                            <input type="submit" id="btnSave" style="background-color:#0193df;" value="@localizer["Save"]" class="btn btn-primary" />
                            <a class="btn btn-info text-uppercase waves-effect waves-light" style="background-color:#0193df;" asp-controller="Teacher" asp-action="GetTeachersList"> @localizer["Back"] </a>

                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    // In your Javascript (external .js resource or <script> tag)
    $(document).ready(function () {
        $('.selectTwo').select2();

        //$('#FacultyTypeId').select2({
        //    tags: true
        //});


        $('#FacultyTypeId').on('change', function () {
            var value = $(this).val();


            if (value === '77a0530b-7110-4d65-a81c-24046a2a4f7e') {

                $('#educationField').show();



                $('#newEducationField').on('focusout', function () {
                    var textValue = $(this).val();
                     $.ajax({
                        type: 'GET',
                        url: '@Url.Action("InsertNewFacultyType", "Principle")/' + textValue,
                        success: function (result) {
                            $("#FacultyTypeId option:selected").val(result);
                        }
                    });
                });


            } else {
                $('#educationField').hide();
            }

        })
    });
</script>