@model IEnumerable<OLS.ViewModels.TeacherViewModelDisplay>
@using OLS.ViewModels


@{
    ViewData["Title"] = "GetTeachersList";
}


<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                @await Html.PartialAsync("../steps");
                <div style="text-align:center;background-color: steelblue;">
                    <h3 style="padding:5px;color: white;">معلومات اساتید/د ښوونکو په اړه مالومات/Teachers' Information</h3>
                </div>

                <div style="margin:5px;">
                    <button type="button" class="btn btn-primary" onclick="@("window.location.href='" + @Url.Action("Create", "Teacher") + "'");">
                        استاد جدید اضافه نماید/د نوي ښوونکي اضافه کول/Add New Teacher
                    </button>
                </div>

                <div class="table-responsive">
                    <table class="table table-bordered no-wrap">
                        <thead>
                            <tr>
                                <th>اسم /نوم/Name</th>
                                <th>تخلص /تخلص/Last Name</th>
                                <th> نمبر تذکره /د تذکرې شمېره/NID Number</th>
                                <th> سن/عمر/Age</th>
                                <th>جنسیت/جنسیت/Gender</th>
                                <th> درجه تحصیل/د زده کړو درجه/Education Level</th>
                                <th>سال فراغت/د فراغت کال/Gradution Date</th>
                                <th>  مدت خدمت در معارف/په ښوونه او روزنه کې د خدمت موده/Duration of Service in Education</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.LastName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Nidnumber)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Age)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.GenderType)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.EducationLevel)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.GraduationDate)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Eduservice)
                                    </td>

                                    <td class="text-nowrap">
                                        @Html.ActionLink("دیدن/تغیر معلومات", "Edit", new { id = item.PersonId }) |

                                        @Html.ActionLink("حذف نمایید", "Delete", new { id = item.PersonId })
                                    </td>
                                </tr>
                            }


                        </tbody>
                    </table>
                </div>

                <div style="float:left;">
                    <button type="button" id="nextBtn" onclick="@("window.location.href='" + @Url.Action("Navigate", "Principle") + "'");" class="btn btn-primary">قبلی/مخکی/Previous</button>
                    <button type="button" id="nextBtn" onclick="@("window.location.href='" + @Url.Action("Navigate", "EnrollmentPlan") + "'");" class="btn btn-primary">بعدی/وروسته/Next</button>
                </div>
            </div>
        </div>
    </div>
</div>