@model IEnumerable<OLS.ViewModels.TeacherViewModelDisplay>
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@using OLS.ViewModels


@{ ViewData["Title"] = "GetTeachersList";
    var culture = Context.Features.Get<Microsoft.AspNetCore.Localization.IRequestCultureFeature>().RequestCulture.UICulture.Name;}


<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                @await Html.PartialAsync("../steps")
                <div style="text-align:center;background-color: #0193df;">
                    <h3 style="padding:5px;color: white;">@localizer["TeacherInformation"]</h3>
                </div>

                <div style="margin:5px;">
                    <button type="button" class="btn btn-primary" style="background-color:#0193df;" onclick="@("window.location.href='" + @Url.Action("Create", "Teacher") + "'");">
                       
                        @localizer["AddNewTeacher"]
                    </button>
                </div>

                <div class="table-responsive">
                    <table class="table table-bordered no-wrap" >
                        <thead>
                            <tr>
                                <th>@localizer["Name"]</th>
                                <th>  @localizer["LastName"]</th>
                                <th> @localizer["NIDNumber"]</th>
                                <th>   @localizer["Age"]</th>
                                <th>  @localizer["Gender"]</th>
                                <th>   @localizer["EducationLevel"]</th>
                                <th>  @localizer["GraduationYear"]</th>
                                <th>    @localizer["DurationOfService"]</th>
                                <th> @localizer["Action"]</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                <tr>

                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nidnumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Age)
                    </td>
                    <td>
                        @if (culture == "en")
                        {
                            @item.GenderType.Split("/")[2]
                        }
                        else if (culture == "fa")
                        {
                            @item.GenderType.Split("/")[0]

                        }
                        else
                        {
                            @item.GenderType.Split("/")[1]
                        }

                    </td>
                    <td>
                          @if (culture == "en")
                        {
                            @item.EducationLevel.Split("/")[1]
                        }
                        else if(culture=="fa")
                        {
                            @item.EducationLevel.Split("-")[0]
                         }
                        else
                        {
                               @item.EducationLevel.Split("-")[1].Split("/")[0]
                        }
                       
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.GraduationDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Eduservice)
                    </td>

                    <td class="text-nowrap">
                        @Html.ActionLink(localizer["Edit"].Value, "Edit", new { id = item.PersonId }) 

                        @*@Html.ActionLink(localizer["Delete"].Value, "Delete", new { id = item.PersonId })*@
                    </td>
                </tr>}


                        </tbody>
                    </table>
                </div>
                 @{ 
                        var floatValue = "right";
                        if (culture == "en")
                        {
                            floatValue = "left";
                        }

                    }
                <div style="float:@floatValue;">
                    <button type="button" id="nextBtn" style="background-color:#0193df;" onclick="@("window.location.href='" + @Url.Action("Navigate", "Principle") + "'");" class="btn btn-primary"> @localizer["Previous"]</button>
                    <button type="button" id="nextBtn" style="background-color:#0193df;" onclick="@("window.location.href='" + @Url.Action("Navigate", "EnrollmentPlan") + "'");" class="btn btn-primary"> @localizer["Next"]</button>
                </div>
            </div>
        </div>
    </div>
</div>