<div class="row page-titles">
    <div class="col-md-5 col-12 align-self-center">
        <h3 class="text-themecolor mb-0 mt-0">چک لیست موسسه تعلیمی خصوصی</h3>

    </div>
    <div class="col-md-7 col-12 align-self-center d-none d-md-block">
        <div class="d-flex mt-2 justify-content-end">
            
            <div class="">
                @*<button class="right-side-toggle waves-effect waves-light btn-success btn btn-circle btn-sm pull-right ml-2">
                    <i class="ti-settings text-white"></i>
                </button>*@
            </div>
        </div>
    </div>
</div>
<!-- ============================================================== -->
<!-- End Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- Start Page Content -->
<!-- ============================================================== -->
<div class="row">
    <div class="col-md-12">
        <div class="card card-body printableArea">
            <div class="text-center p-3 font-weight-bolder">
                <div>
                    <img src="~/System Images/moelogo.png" />
                </div>
                <h2>
                    چک لیست موسسه تعلیمی خصوصی
                </h2>
                <h3>
                    (School Checklist)
                </h3>
            </div>

            @if (ViewBag.SchoolInfo != null)
            {
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <tr>
                            <td>مکتب</td>
                            <td>@ViewBag.SchoolInfo.SchoolName</td>
                            <td>تاریخ:</td>
                            <td>@(DateTime.Now)</td>
                        </tr>
                        <tr>
                            <td>سطح مکتب</td>
                            <td>@ViewBag.SchoolInfo.SchoolLevel</td>
                            <td> جنسیت  مکتب</td>
                            <td>@ViewBag.SchoolInfo.SchoolGenderType</td>

                        </tr>
                    </table>
                </div>
                <div class="card-header" style="background-color: gainsboro; margin-bottom:10px">
                    <strong>آدرس مکتب/School Address</strong>
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <tr>
                            <td>ولایت</td>
                            <td>@ViewBag.SchoolInfo.Province</td>
                            <td> ولسوالی</td>
                            <td>@ViewBag.SchoolInfo.District</td>
                            <td>قریه یا ناحیه</td>
                            <td>@ViewBag.SchoolInfo.VillageNahia</td>
                        </tr>

                    </table>
                </div>



                <div class="card-header" style="background-color: gainsboro; margin-bottom:10px">
                    <strong>معلومات مکتب/School Information</strong>
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <tr>
                            <td>واحد /Item</td>
                            <td class="text-wrap">معلومات داده شده /Submitted Information</td>
                            <td class="text-center">چک /Check</td>
                            <td style=" width:45%">ملاحظات /Remarks</td>

                        </tr>
                        <tr>
                            <td>
                                تعداد اطاق
                            </td>
                            <td>@ViewBag.SchoolInfo.Nrooms</td>
                            <td class=" text-center"><span class="mdi mdi-checkbox-blank-outline mdi-24px"></span></td>
                            <td></td>

                        </tr>
                        <tr>
                            <td>فاصله از مکاتب دولتی همجوار</td>
                            <td>@ViewBag.SchoolInfo.DistancefromPuSchool</td>
                            <td class=" text-center"><span class="mdi mdi-checkbox-blank-outline mdi-24px"></span></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                فاصله از مکاتب خصوصی همجوار
                            </td>
                            <td>@ViewBag.SchoolInfo.DistanceFromPrSchool</td>
                            <td class=" text-center"><span class="mdi mdi-checkbox-blank-outline mdi-24px"></span></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                کتب درسی
                            </td>
                            <td>
                                @if (ViewBag.SchoolInfo.HasTeachingBooks == 1)
                                {
                                    <label>بلی</label>
                                }
                                @if (ViewBag.SchoolInfo.HasTeachingBooks == 0)
                                {
                                    <label>نخیر</label>
                                }
                            </td>
                            <td class=" text-center"><span class="mdi mdi-checkbox-blank-outline mdi-24px"></span></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                مواد ممد درسی
                            </td>
                            <td>
                                @if (ViewBag.SchoolInfo.HasTeachingAids == 1)
                                {
                                    <label>بلی</label>
                                }
                                @if (ViewBag.SchoolInfo.HasTeachingAids == 0)
                                {
                                    <label>نخیر</label>
                                }
                            </td>
                            <td class=" text-center"><span class="mdi mdi-checkbox-blank-outline mdi-24px"></span></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                میز و چوکی معلم
                            </td>
                            <td>@ViewBag.SchoolInfo.NteachDeskChair</td>
                            <td class=" text-center"><span class="mdi mdi-checkbox-blank-outline mdi-24px"></span></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                میز و چوکی شاګرد
                            </td>
                            <td>@ViewBag.SchoolInfo.NstudentDeskChair</td>
                            <td class=" text-center"><span class="mdi mdi-checkbox-blank-outline mdi-24px"></span></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>کتابخانه</td>
                            <td>
                                @if (ViewBag.SchoolInfo.HasLibrary == 1)
                                {
                                    <label>بلی</label>
                                }
                                @if (ViewBag.SchoolInfo.HasLibrary == 0)
                                {
                                    <label>نخیر</label>
                                }
                            </td>
                            <td class=" text-center"><span class="mdi mdi-checkbox-blank-outline mdi-24px"></span></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                تعداد کتب کتابخانه
                            </td>
                            <td>@ViewBag.SchoolInfo.Nbooks</td>
                            <td class=" text-center"><span class="mdi mdi-checkbox-blank-outline mdi-24px"></span></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>تخته</td>
                            <td>@ViewBag.SchoolInfo.Nboards</td>
                            <td class=" text-center"><span class="mdi mdi-checkbox-blank-outline mdi-24px"></span></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                وسایل لابراتواری
                            </td>
                            <td>@ViewBag.SchoolInfo.LaboratoryMaterialType</td>
                            <td class=" text-center"><span class="mdi mdi-checkbox-blank-outline mdi-24px"></span></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                لابراتوار کمپیوتر
                            </td>
                            <td>
                                @if (ViewBag.SchoolInfo.HasComputerLab == 1)
                                {
                                    <label>بلی</label>
                                }
                                @if (ViewBag.SchoolInfo.HasComputerLab == 0)
                                {
                                    <label>نخیر</label>
                                }
                            </td>
                            <td class=" text-center"><span class="mdi mdi-checkbox-blank-outline mdi-24px"></span></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                تعداد کمپیوتر
                            </td>
                            <td>@ViewBag.SchoolInfo.Ncomputers</td>
                            <td class=" text-center"><span class="mdi mdi-checkbox-blank-outline mdi-24px"></span></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                آب اشامیدنی صحی
                            </td>
                            <td>
                                @if (ViewBag.SchoolInfo.HasDrinkingWater == 1)
                                {
                                    <label>بلی</label>
                                }
                                @if (ViewBag.SchoolInfo.HasDrinkingWater == 0)
                                {
                                    <label>نخیر</label>
                                }
                            </td>
                            <td class=" text-center"><span class="mdi mdi-checkbox-blank-outline mdi-24px"></span></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                تعداد تشناب های صحی
                            </td>
                            <td>@ViewBag.SchoolInfo.NwashRooms</td>
                            <td class=" text-center"><span class="mdi mdi-checkbox-blank-outline mdi-24px"></span></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                کمک های اولیه صحی
                            </td>
                            <td>
                                @if (ViewBag.SchoolInfo.HasFirstAid == 1)
                                {
                                    <label>بلی</label>
                                }
                                @if (ViewBag.SchoolInfo.HasFirstAid == 0)
                                {
                                    <label>نخیر</label>
                                }
                            </td>
                            <td class=" text-center"><span class="mdi mdi-checkbox-blank-outline mdi-24px"></span></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                وسایل اطفایه ضد حریق:
                            </td>
                            <td>
                                @if (ViewBag.SchoolInfo.HasFirstAid == 1)
                                {
                                    <label>بلی</label>
                                }
                                @if (ViewBag.SchoolInfo.HasFirstAid == 0)
                                {
                                    <label>نخیر</label>
                                }
                            </td>
                            <td class=" text-center"><span class="mdi mdi-checkbox-blank-outline mdi-24px"></span></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                وسایل نقلیه
                            </td>
                            <td>
                                @if (ViewBag.SchoolInfo.HasTransportation == 1)
                                {
                                    <label>بلی</label>
                                }
                                @if (ViewBag.SchoolInfo.HasTransportation == 0)
                                {
                                    <label>نخیر</label>
                                }
                            </td>
                            <td class=" text-center"><span class="mdi mdi-checkbox-blank-outline mdi-24px"></span></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                امکانات ورزشی
                            </td>
                            <td>
                                @if (ViewBag.SchoolInfo.HasSportFacilities == 1)
                                {
                                    <label>بلی</label>
                                }
                                @if (ViewBag.SchoolInfo.HasSportFacilities == 0)
                                {
                                    <label>نخیر</label>
                                }
                            </td>
                            <td class=" text-center"><span class="mdi mdi-checkbox-blank-outline mdi-24px"></span></td>
                            <td></td>
                        </tr>
                    </table>
                </div>


            }

            <div class="card-header" style="background-color: gainsboro; margin-bottom:10px">
                <strong>معلومات مدیر مسوول استادان موسسه تعلیمی خصوصی</strong>
            </div>
            @if (ViewBag.PersonInfo != null)
            {
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>اسم و تخلص:</th>
                                <th>وظیفه</th>
                                <th> نمبر تذکیره /د تذکرې شمېره</th>
                                <th>سن/عمر</th>
                                <th>جنسبت</th>
                                <th>درجه تحصیل</th>
                                <th>سال فراغت/د فراغت کال</th>
                                <th>  مدت خدمت در معارف/په ښوونه او روزنه کې د خدمت موده</th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in ViewBag.PersonInfo)
                            {
                                <tr>

                                    <td>
                                        @item.Name @item.LastName
                                    </td>
                                    <td>
                                        @item.PartyRoleType
                                    </td>
                                    <td>
                                        @item.Nidnumber
                                    </td>
                                    <td>
                                        @item.Age
                                    </td>
                                    <td>
                                        @item.GenderType
                                    </td>
                                    <td>
                                        @item.EducationLevel
                                    </td>
                                    <td>
                                        @item.GraduationDate
                                    </td>
                                    <td>
                                        @item.Eduservice
                                    </td>


                                </tr>
                            }


                        </tbody>
                    </table>
                </div>
            }

            <div class="form-group col-md-12 mt-3">
                <label>ملاحظات عمومی</label>
                <textarea  class="form-control" rows="10"></textarea>
            </div>
        </div>

                <div class="text-right">
                    
                    <button id="print" class="btn btn-default btn-outline" type="button">
                        <span>
                            <i class="fa fa-print"></i> Print
                        </span>
                    </button>
                </div>
            </div>
</div>

<script>
    $(document).ready(function () {
        $("#print").click(function () {
            var mode = 'iframe'; //popup
            var close = mode == "popup";
            var options = {
                mode: mode,
                popClose: close
            };
            $("div.printableArea").printArea(options);
        });
    });
</script>