@model IList<OLS.ViewModels.SchoolDisplayViewModel>

@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer


@{ ViewData["Title"] = "GetTeachersList";
    var culture = Context.Features.Get<Microsoft.AspNetCore.Localization.IRequestCultureFeature>().RequestCulture.UICulture.Name;}

<div class="row page-titles">
    <div class="col-md-5 col-12 align-self-center">
        <h3 class="text-themecolor">
            @localizer["List"]
            @if (ViewBag.header != null)
            {
                if (culture == "en")
                {

        @ViewBag.header.StatusNameDash }
                        else if (culture == "fa")
                        {
        @ViewBag.header.StatusNameDashDari.Split("/")[0] }
                        else
                        {
        @ViewBag.header.StatusNameDashDari.Split("/")[1]}


                    }

        </h3>
    </div>
    <div class="col-md-7 col-12 align-self-center d-none d-md-block">
        <div class="d-flex mt-2 justify-content-end">
            <a href="@Url.Action("index","DPERep")">
                <h4 class="text-themecolor">
                    @localizer["BackToDashboard"]

                </h4>
            </a>


        </div>
    </div>

</div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">


                <div class="table-responsive mt-4">
                    <table class="display nowrap table table-hover table-striped table-bordered" cellspacing="0" width="100%" id="example23">
                        <thead>
                            <tr>
                                <th> @localizer["No"]</th>
                                <th> @localizer["SchoolName"] </th>
                                <th> @localizer["SchoolLevel"] </th>
                                <th> @localizer["SchoolGender"]  </th>
                                <th> @localizer["Province"]</th>
                                <th> @localizer["District"]</th>
                                <th> @localizer["Village"]</th>
                                <th> @localizer["Date"]</th>
                                <th> @localizer["AmountDays"]</th>
                                <th> @localizer["Action"]</th>
                                @if (ViewBag.roleid == "DB70DAE4-9422-4A2F-A14B-7552702F026B")
                                 {
                                    <th> @localizer["CheckList"]</th>
                                 }
                                @if (ViewBag.roleid == "EFD684C6-F47C-407C-B9B7-DA2245E3869B")
                                 {
                                  <th>@localizer["ReportReview"] </th>
                                 }
                                 @if (ViewBag.roleid == "29N7E2C2-B010-40G8-0E1B-22G757FFC8J3" && ViewBag.CompletionFlag==1)
                                 {
                                  <th>  @localizer["SchoolLicense"] </th>
                                 } 
                            </tr>
                        </thead>
                        <tbody>
                            @for (int i = 0; i < Model.Count(); i++)
                            {

                <tr>
                    <td>
                        @(i + 1)
                    </td>

                    <td>
                        @if (culture == "en")
                        {
                               @Html.DisplayFor(modelItem => Model[i].SchoolEnglishName)
                        }
                        else
                        {
                            @Html.DisplayFor(modelItem => Model[i].SchoolName)
                        }

                    </td>
                    <td>

                        @if (culture == "en")
                        {

                    @Model[i].SchoolLevel.Split("/")[1] }
                                    else
                                    {
                    @Model[i].SchoolLevel.Split("/")[0]}



                    </td>
                    <td>
                       
                        @if (culture == "en")
                        {
                    @Model[i].SchoolGenderType.Split("/")[2] }
                                    else if (culture == "fa")
                                    {
                    @Model[i].SchoolGenderType.Split("/")[0]
                }
                else
                {
                    @Model[i].SchoolGenderType.Split("/")[1]
                }
                    </td>
                    <td>

                        @if (culture == "en")
                        {
                            @Model[i].Province.Split("/")[1]
                        }
                        else
                        {
                            @Model[i].Province.Split("/")[0]
                        }
                    </td>
                    <td>
                       
                        @if (culture == "en")
                        {
                    @Model[i].District.Split("/")[1] }
                                    else
                                    {
                    @Model[i].District.Split("/")[0]}
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model[i].VillageNahia)
                    </td>
                    <td>
                        @* @Convert.ToString(string.Format("{0:dd/MM/yyyy}", Model[i].StatusDate))*@
                        @Model[i].StatusDate
                    </td>
                    <td>
                        @Model[i].No_days  <span>  @localizer["Days"] </span>
                    </td>

                    <td class="text-nowrap">
                        @Html.ActionLink(localizer["View"].Value, "Check", new { schoolid = Model[i].SchoolId, OrderNumber = ViewBag.OrderNumber, ProcessStatusId = ViewBag.ProcessStatusId, CompletionFlag = ViewBag.CompletionFlag })
                    </td>

                    @if (ViewBag.roleid == "DB70DAE4-9422-4A2F-A14B-7552702F026B")
                    {

                        <td class="text-nowrap">
                            @Html.ActionLink(localizer["CheckList"].Value, "CheckList", new { schoolid = Model[i].SchoolId })
                        </td>
                    }
                    @if (ViewBag.roleid == "EFD684C6-F47C-407C-B9B7-DA2245E3869B")
                    {
                        <td>
                            <a href="~/PED/@Model[i].SchoolId/@Model[i].SchoolId-schoolVisitReport.pdf"> @localizer["ViewReport"]</a>
                        </td>
                    }
                    @if(ViewBag.roleid== "29N7E2C2-B010-40G8-0E1B-22G757FFC8J3" &&  ViewBag.CompletionFlag==1) 
                    { 

                            <td class="text-nowrap">
                                @Html.ActionLink(localizer["SchoolLicense"].Value, "SchoolLicense", new { schoolid = Model[i].SchoolId })
                            </td>
                    }

                </tr>}


                        </tbody>
                    </table>
                </div>
                @if (ViewBag.Result != null)
                {

                  @ViewBag.Result;
                }

            </div>
        </div>
    </div>
</div>
