@model IList<OLS.Models.SchoolListAll>
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer

@{ ViewData["Title"] = "GetTeachersList"; }

<div class="card">
    <div class="card-body">
        <h4 class="card-title">   @localizer["GeneralList"]</h4>
        <div class="table-responsive mt-4">
            <table id="example23"
                   class="display nowrap table table-hover table-striped table-bordered"
                   cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>  @localizer["No"]</th>
                        <th>  @localizer["School"]</th>
                        <th>   @localizer["SchoolLevel"]</th>
                        <th>  @localizer["SchoolGender"]</th>
                        <th>   @localizer["Province"]</th>
                        <th>  @localizer["District"]</th>
                        <th>   @localizer["Village"]</th>
                        <th>   @localizer["Status"]</th>
                        <th>  @localizer["Date"]</th>
                        <th>  @localizer["DaysDuration"]</th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.Count(); i++)
                    {

        <tr>
            <td>
                @(i + 1)
            </td>

            <td>
                @Html.DisplayFor(modelItem => Model[i].SchoolName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model[i].SchoolLevelNameDari)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model[i].SchoolGenderTypeNameDari)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model[i].PROV_NA_DAR)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model[i].DIST_NA_DAR)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model[i].Nahia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model[i].StatusNameDariPast)
            </td>
            <td>@Model[i].StatusDate</td>

            <td>@(Math.Abs((DateTime.Now - Model[i].StatusDate).Value.Days))</td>

        </tr>}


                </tbody>
            </table>

        </div>
    </div>
</div>