@model OLS.ViewModels.UserViewModel
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer

@{
    ViewData["Title"] = "EditUserInfo";
    
        var culture = Context.Features.Get<Microsoft.AspNetCore.Localization.IRequestCultureFeature>().RequestCulture.UICulture.Name;
}

<div class="row page-titles">
    <div class="col-md-5 col-12 align-self-center">
        <h3 class="text-themecolor"> @localizer["UserInformation"] </h3>
    </div>

</div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <form class="form-horizontal form-material" id="loginform" asp-action="EditUserInfo">
                    @if (ViewBag.Message != null)
                    {

                        //  <div><span class="text-info">@ViewBag.Message</span></div>
                        @*<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>*@
                        <script src="~/sweetalert/sweetalert.min.js"></script>
                        <script type="text/javascript">

                                                    swal({
                                                        title: "@localizer[ViewBag.Message]",
                                                        text: "  @localizer["Text"]  ",
                                                        icon: "success",
                                                        button: "OK",
                                                    })
                                                        .then(okay => {
                                                        if (okay) {
                                                            window.location.href = "/Account/RegisterStaff";
                                                        }
                                                    });
                        </script>

                    }

                    <div class="form-group">
                        <div>
                            <input asp-for="UserName" class="form-control" required placeholder="@localizer["UserName"]">
                            <span asp-validation-for="UserName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group ">
                        <div>
                            <input asp-for="Email" class="form-control" required placeholder="@localizer["Email"]">
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group ">
                        <div>
                            <input asp-for="FirstName" class="form-control" required placeholder="@localizer["Name"]">
                            <span asp-validation-for="FirstName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group ">
                        <div>
                            <input asp-for="LastName" class="form-control" required placeholder=" @localizer["LastName"] ">
                            <span asp-validation-for="LastName" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="PerProvinceId">
                            @localizer["Province"]

                        </label>
                        <select asp-for="ProvinceId" id="PerProvince" class="form-control selectTwo" style="width:100%;">
                            <option selected value="">@localizer["Select"]</option>
                            @if (ViewBag.province != null)
                            {
                        @if (culture == "en")
                        {
                            foreach (var province in ViewBag.province)
                            {
                        <option value="@province.ProvinceId">@province.ProvNaEng</option> }
                                        }


                                        else
                                        {


                                            foreach (var province in ViewBag.province)
                                            {
                        <option value="@province.ProvinceId">@province.ProvNaDar</option>
}
                }}


                            }

                        </select>

                        <span asp-validation-for="ProvinceId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label for="EducationLevelID">
                            @localizer["Status"]

                        </label>
                        <select asp-for="IsActive" class="form-control selectTwo" style="width:100%;">
                            <option selected value="">@localizer["Select"]</option>
                            <option value="1">@localizer["Active"]</option>
                            <option value="0">@localizer["InActive"]</option>

                        </select>
                        <span asp-validation-for="IsActive" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label for="EducationLevelID">
                            @localizer["Role"]
                        </label>
                        <select asp-for="Role" class="form-control selectTwo" style="width:100%;">
                            <option selected value="">@localizer["Select"]</option>
                            @if (ViewBag.roles != null)
                            {
                                @foreach (var role in ViewBag.roles)
                                {
                                    <option value="@role.NormalizedName">@role.Name</option>
                                }
                            }
                        </select>
                        <span asp-validation-for="Role" class="text-danger"></span>
                    </div>


                    <div class="form-group mt-3">
                        <div>
                            <button class="btn btn-info text-uppercase " style="background-color:#0193df;" type="submit"> @localizer["Save"] </button>

                            <a class="btn btn-info text-uppercase " style="background-color:#0193df;" asp-controller="Account" asp-action="RegisterStaff"> @localizer["Back"] </a>
                        </div>
                    </div>

                </form>

            </div>
        </div>
    </div>
</div>
<script>
    // In your Javascript (external .js resource or <script> tag)
    $(document).ready(function () {
        $('.selectTwo').select2();
    });
</script>