@model IList<OLS.ViewModels.SubProcessViewModel>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <section id="timeline" class="timeline-center timeline-wrapper">
                    <h2 class="text-themecolor text-center shadow-lg p-3 mb-5 bg-white rounded">
                        پروسه اخذ جواز مکتب خصوصی / د ښوونځي جواز ورکولو پروسه / School Licensing Process
                    </h2>

                    <ul class="timeline">
                        @if (Model != null)
                        {
                            for (int i = 0; i < Model.Count; i++)
                            {
                                if (i % 2 == 1)
                                {
                                    <li>
                                        <div class="timeline-badge success">@Model[i].OrderNumber </div>
                                        <div class="timeline-panel">
                                            <div class="timeline-heading">
                                                <div class="row">
                                                    <div class="col-md-10">
                                                        <h4 class="text-themecolor font-weight-bold" style="font-size:12px;">@Model[i].SubProcesNameDari/@Model[i].SubProcesName</h4>
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                             تعداد روز / Number of Days : 
                                                            </div>

                                                            <div class="col-md-6">
                                                                @Model[i].TimelineInDays
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                حالت / Status : 
                                                            </div>
                                                            <div class="col-md-6">
                                                                @Model[i].StatusNameDariPast
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                ملاحظات / Comments :
                                                            </div>
                                                            <div class="col-md-6">
                                                                @Model[i].Remarks
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-2">
                                                        @if (Model[i].CompletionFlag == 1)
                                                        {

                                                            <span class="mdi mdi-checkbox-marked mdi-36px"></span>
                                                        }

                                                    </div>


                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                }
                                else
                                {

                                    <li class="timeline-inverted">
                                        <div class="timeline-badge success">@Model[i].OrderNumber </div>
                                        <div class="timeline-panel">
                                            <div class="timeline-heading">
                                                <div class="row">
                                                    <div class="col-md-10">
                                                        <h4 class="text-themecolor font-weight-bold" style="font-size:12px;">@Model[i].SubProcesNameDari/@Model[i].SubProcesName</h4>
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                تعداد روز / Number of Days :
                                                            </div>
                                                            <div class="col-md-6">
                                                                @Model[i].TimelineInDays
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                حالت / Status :
                                                            </div>
                                                            <div class="col-md-6">
                                                                @Model[i].StatusNameDariPast
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                ملاحظات / Comments :
                                                            </div>
                                                            <div class="col-md-6">
                                                                @Model[i].Remarks
                                                            </div>
                                                        </div>

                                                    </div>
                                                    <div class="col-md-2">
                                                        @if (Model[i].CompletionFlag == 1)
                                                        {
                                                            <span class="mdi mdi-checkbox-marked mdi-36px"></span>
                                                        }

                                                    </div>


                                                </div>
                                            </div>

                                        </div>
                                    </li>
                                }





                            }
                        }
                    </ul>
                </section>

            </div>
        </div>
    </div>
</div>